# Builds e Dependências
dist/
dist*/
node_modules/
build/

# Logs e Dados Locais
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Ambiente e Segredos
.env
.env.*.local
*.key
*.pem

# Editor/IDE
.vscode/
.idea/
.DS_Store

# Scripts gerados
scripts/*/dist
scripts/migrate/dist

# Output Prisma customizado (evita schema duplicado)
generated/